textarea.private {
    background-image:url("chrome-extension://__MSG_@@extension_id__/privacy.png") !important;
    background-size: 25px !important;
    background-repeat: no-repeat !important;
    background-position: 99% 6% !important;
    background-
}


